<h2>Weather Forecast</h2>

<p>Current Temperature: <%= @forecast[:temperature] %> °C</p>
<p>High: <%= @forecast[:high] %> °C</p>
<p>Low: <%= @forecast[:low] %> °C</p>

<% if @from_cache %>
  <p class = "text-green">(Result retrieved from cache)</p>
<% else %>
  <p class = "text-blue">(Live API result)</p>
<% end %>

<%= link_to "Search again", root_path %>